.banner-photo {
    max-width: 450px;
    margin: 0 auto;
    padding: 70px 0 10px;
    position: relative;

    &::before {
        position: absolute;
        top: 95px;
        right: 225px;
        line-height: 58px;
        font-weight: 100;
        font-size: 5.5rem;
        letter-spacing: 5px;
        color: $bright-color;
        content: "Veronica";
    }

}

@media screen and (max-width: 965px) {
    .banner-photo {
        max-width: 350px;

        &::before {
            font-size: 3.5rem;

        }
    }
}

@media screen and (max-width: 746px) {
    .banner-photo {
        max-width: 250px;

        &::before {
            font-size: 2.5rem;
            top: 75px;
            right: 165px;

        }

    }
}

@media screen and (max-width: 566px) {
    .banner-photo {
        max-width: 200px;

        &::before {
            font-size: 2rem;
            right: 115px;

        }

    }
}

@media screen and (max-width: 390px) {
    .banner-photo {
        max-width: 150px;

        &::before {
            font-size: 1.3rem;
            top: 65px;
            right: 100px;

        }
    }
}