.navigation {
    display: flex;
    justify-content: space-around;

    &__link {
        font-weight: 200;
        font-size: 1rem;
        letter-spacing: 3px;

        &:hover {
            color: $bright-color;
        }
    }
}

@media screen and (max-width: 566px) {
    .navigation {
        &__link {
            font-size: 0.8rem;
            letter-spacing: 2px;
        }
    }
}

@media screen and (max-width: 390px) {
    .navigation {
        &__link {
            font-size: 0.7rem;
        }
    }
}