.page-about {
    max-width: 450px;
    text-align: left;
    margin: 0 auto;

    &__subtitle {
        font-weight: 300;
        font-size: 0.9rem;
        letter-spacing: 3px;
        color: $secondary-color;
        text-transform: uppercase;
    }

    &__text {
        margin: 10px 0 5px;
        color: $secondary-color;
        font-weight: 200;
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 13px;
    }
}