.page-description {
    background: $primary-color;
    padding: 40px 0;
    border-bottom: 1px solid $secondary-color;
   

    &__text {
        color: $secondary-color;
        max-width: 450px;
        margin: 0 auto;
        text-align: left;
        font-weight: 200;
        font-size: 0.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 16px;
    }
}