.photo-item {
    max-width: 120px;
    width: calc((100% - 2 * 15px) / 3);

    &:not(:last-of-type) {
        margin-right: 15px;
    }
}

@media screen and (max-width: 566px) {
    .photo-item {
        max-width: 100px;

    }
}

@media screen and (max-width: 390px) {
    .photo-item {
        max-width: 80px;

    }
}